p {
    color: yellow;
}
.box {
    height: 100px;
    width: 200px;
    border: 3px;
    margin: 10px;
    padding: 25px;
    box-sizing: border-box;
}
#kup{
    background-color: orange;
}
#ppa{
    background-color: pink;
    /* vh --> viewport height == 1/100 * device height 
    vw --> viewport width == 1/100 * device width  */
    height: 10vh;
    width: 10vw;
}
#upp{
    background-color: green;
}